[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/libigl"]
	path = lib/libigl
	url = https://github.com/libigl/libigl.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
